/* .container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; */
/* } */
/* 
header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
} */

/* Стиль ссылок шапки */
/* header .my-link {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
} */

/* Изменение цвета фона при наведении курсора */
/* header .my-link:hover {
  background-color: #ddd;
  color: black;
} */

/* Стиль активной/текущей ссылки */
/* header .my-link.active {
  background-color: dodgerblue;
  color: white;
} */

/* Медиа-запрос для адаптивности – когда ширина
  экрана 650px или меньше, ссылки будут друг над другом */
/* @media screen and (max-width: 650px) {
  header .my-link {
    float: none;
    display: block;
    text-align: left;
  }
} */

* {
  box-sizing: border-box;
}

:root {
  --color-bg: #2c2c32;
  --color-active: #0f7dc6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: var(--color-bg);
  padding: 2rem 0;
  text-align: center;
}
header > a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}
header > a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  margin-top: 0;
}

.container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

main a {
  text-decoration: none;
  color: var(--color-bg);
}
main a:hover {
  text-decoration: underline;
}

.active {
  color: var(--color-active);
  cursor: default;
}

form {
  display: flex;
  justify-content: center;
}

form button,
button {
  background-color: var(--color-active);
  cursor: pointer;
  color: white;
  border: none;
}

button {
  padding: 0.5rem 1rem;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.login-form {
  display: grid;
  gap: 1rem;
}

.postBg {
  background-color: aliceblue;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
  border-radius: 30px;
}

.postBg div {
  display: flex;
  align-items: center;
}

.postBg .buttonWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.postBg .buttonWrap span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
}

.postBg .buttonWrap span:hover {
  color: #04346b;
}

.myButton {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #04346b;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

.myInput {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
}

.deleteButton {
  border: none;
  outline: none;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgba(28, 28, 28, 0);
  color: black;
}

.gitHub-Button {
  border: none;
  outline: none;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(110, 110, 110, 1);
  color: rgb(0, 0, 0);
  border-radius: 40px;
}

.sign-in-button {
  border: none;
  outline: none;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(0, 210, 112);
  color: rgb(0, 0, 0);
  border-radius: 40px;
}
